* {
  margin: 0;
  border: 0;
  padding: 0; }

.main {
  margin: auto;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  background: #c4bfbf; }

.title {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #5a5a5a;
  text-align: center; }

.form {
  padding: 20px; }
  .form .input {
    display: 'block';
    width: 100%; }
  .form header .title {
    font-size: 20px;
    color: #666; }

.field-wrapper {
  padding: 5px;
  box-sizing: border-box; }

.input {
  box-sizing: border-box;
  display: 'block';
  height: 40px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.7);
  font-size: monospace, Arial;
  border-radius: 4px;
  padding: 0 5px 0 5px; }

.btn {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  padding: 10px;
  border-radius: 4px; }

.btn-save {
  background: #71cc84; }

.center {
  margin: auto; }

hr {
  width: 96%;
  height: 2px;
  background: #ddd;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
